# Basic Information
BOT_TOKEN=REPLACE
FOLLOW_UP_PING_HOURS=8 # How many hours before the bot pings the people that haven't responded to the poll yet

# Server Information
GUILD_ID=REPLACE # The ID of the server
CHANNEL_ID=REPLACE # The ID of the channel to post (note bot should be given permission to this channel)
ROLE_ID=REPLACE # The role that should be pinged when the poll is created